.EntitiesMenu .inner {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 30px 30px 30px;
}

.MenuButton button {
    border-radius: 10px;
    border: none;

    min-width: 100%;
    margin: 3px;
    padding: 3px;
    background-color: aliceblue;
    text-align: center;
}