* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*Todo:*/
    /*background-color: var(--tg-theme-bg-color);*/
    background-color: cornflowerblue;
}

.EntitiesMenu {
    padding: 100% 0px 0px 0px;
}