.ClientHeader {
    text-align: left;
    margin: 20px;
    font-size: 17px;
    font-weight: 700;
}

.MainMenu {
    position: absolute;
    bottom: 25px;
    width: 95%;
    margin: 0 20px;
}

.MainMenu .MenuButton {
    display: flex;
    flex-direction: column;
    margin: 5px;
    background: #F8C8F3;
    border-radius: 10px;
}

.MainMenu .MenuButton button {
    height: 60px;
    border: none;
    background: transparent;
    display: flex;
    flex-direction: row;
}

.MenuButtonImage {
    width: 35px;
    height: 35px;

    margin: auto 20px auto auto;
}

.MenuButtonText {
    font-size: 18px;
    font-weight: 400;
    padding: 10px ;
}

