version: "3.9"

services:
  postgres:
    image: postgres:13.3
    restart: always
    environment:
      POSTGRES_DB: "postgres"
      POSTGRES_USER: "postgres"
      POSTGRES_PASSWORD: "postgres"
    volumes:
      - ./data:/var/lib/postgresql/data
    ports:
      - "6432:5432"
    networks:
      - default

  backend:
    build:
      context: .
      dockerfile: backend/dockerfile
    command: poetry run uvicorn src.app:app --reload --proxy-headers --host 0.0.0.0 --port 8000
    ports:
      - "80:8000"
    networks:
      - default

  bot:
    build:
      context: .
      dockerfile: bot/dockerfile
    command: poetry run python -m src.bot
    networks:
      - default

networks:
  default:
    name: "dance_club_app_network"