.ClientsList {
    position: absolute;
    bottom: 25px;
    width: 95%;
    margin: 0 20px;
}

.Client {
    height: 60px;
    background: #BCE7B4;
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin: 10px 0 10px 0;
    border-radius: 10px;
}

.ClientItem {
    margin: auto 10px auto 40px;
    background: transparent;
}

.ClientName {
    margin-left: 10px;
}

.ClientInfoButton {
    position: absolute;
    margin: 3px;
    right: 10px
}

.ClientInfoButton button {
    background: transparent;
    border: none;
    border-radius: 10px;
}

.EditClientForm {
}

.EditClientFormInput {
    border: black;
    border-radius: 10px;
    padding: 10px 0 10px 7px;
    margin: 10px 0 2px 0;
    width: 100%;
    background: darkgrey;
}

.EditClientFormButton {
    margin: 10px 5px 0px 0px;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
}

/*Todo: update button colors*/
.EditClientForm .UpdateButton {
    background: orange;
}

.EditClientForm .DeleteButton {
    background: red;
}