.ClientsList {
    position: absolute;
    bottom: 25px;
    width: 95%;
    margin: 0 20px;
}

.Client {
    height: 60px;
    background: #BCE7B4;
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin: 10px 0 10px 0;
    border-radius: 10px;
}

.ClientItem {
    margin: auto 10px auto 40px;
    background: transparent;
}

.ClientName {
    margin-left: 10px;
}

.ClientInfoButton {
    position: absolute;
    margin: auto 0 auto 0;
    right: 10px
}

.ClientInfoButton button {
    background: transparent;
    border: none;
    border-radius: 10px;
}