.Header {
    margin: 10px 10px;
    padding: 10px 10px;
    font-family: sans-serif;
    font-size: 20px;
    width: 100%;

    display: grid;
    gap: 20px;
    grid-template-rows: auto;
}

.WidgetHeader {
    font-size: 16px;
    font-style: italic;
}